.example-card {
  max-width: 500px;
  background-color: white;
  scale: 0.5;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}