<h2>Container default</h2>
<p><code>flex-direction: row;|flex-direction: initial;</code></p>
<div class="container row">
  <div class="flex-child">
    <p>Child #1</p>
  </div>
  <div class="flex-child">
    <p>Child #2</p>
  </div>
  <div class="flex-child">
    <p>Child #3</p>
  </div>
</div>
<h2>Container row reverse</h2>
<p><code>flex-direction: row-reverse;</code></p>
<div class="container row-reverse">
  <div class="flex-child">
    <p>Child #1</p>
  </div>
  <div class="flex-child">
    <p>Child #2</p>
  </div>
  <div class="flex-child">
    <p>Child #3</p>
  </div>
</div>
<h2>Container column</h2>
<p><code>flex-direction: column;</code></p>
<div class="container column">
  <div class="flex-child">
    <p>Child #1</p>
  </div>
  <div class="flex-child">
    <p>Child #2</p>
  </div>
  <div class="flex-child">
    <p>Child #3</p>
  </div>
</div>
<h2>Container column reverse</h2>
<p><code>flex-direction: column-reverse;</code></p>
<div class="container column-reverse">
  <div class="flex-child">
    <p>Child #1</p>
  </div>
  <div class="flex-child">
    <p>Child #2</p>
  </div>
  <div class="flex-child">
    <p>Child #3</p>
  </div>
</div>
