<mat-toolbar color="primary">
  <span>SWAFE-01</span>
  <a mat-button routerLink="card">Cards</a>
  <a mat-button routerLink="form">Forms</a>
  <a mat-button routerLink="list">Lists</a>
   

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>