* {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 512px;
  margin: 0 auto;
}

form {
  display: flex;
}

input, button {
  margin: 4px 0;
  padding: 4px;
  flex: 1 1 0;
}

button {
  flex: none;
  margin-left: 4px;
  padding: 4px 16px;
}

.odd {
  background-color: tomato;
}

.even {
  background-color: burlywood;
}
