<h2>Container nowrap</h2>
<p><code>flex-wrap: nowrap;|flex-wrap: initial;</code></p>
<div class="container">
  <div class="flex-child no-shrink">
    <p>Child #1</p>
  </div>
  <div class="flex-child no-shrink">
    <p>Child #2</p>
  </div>
  <div class="flex-child no-shrink">
    <p>Child #3</p>
  </div>
</div>
<h2>Container wrap</h2>
<p><code>flex-wrap: wrap;</code></p>
<div class="container wrap">
  <div class="flex-child wrap-item">
    <p>Child #1</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #2</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #3</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #4</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #5</p>
  </div>
</div>
<h2>Container wrap-reverse</h2>
<p><code>flex-wrap: wrap-reverse;</code></p>
<div class="container wrap-reverse">
  <div class="flex-child wrap-item">
    <p>Child #1</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #2</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #3</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #4</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #5</p>
  </div>
</div>
<h2>Container wrap row-reverse</h2>
<p><code>flex-wrap: wrap; flex-direction: row-reverse;</code></p>
<div class="container wrap row-reverse">
  <div class="flex-child wrap-item">
    <p>Child #1</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #2</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #3</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #4</p>
  </div>
  <div class="flex-child wrap-item">
    <p>Child #5</p>
  </div>
</div>