<h1>Template-driven forms</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-wrapper">
    <label for="first_name">First name</label>
    <input type="text" name="first_name" ngModel>
    <label for="first_name">Last name</label>
    <input type="text" name="last_name" ngModel>
    <hr />
    <label for="phone">Phone</label>
    <input type="text" name="phone" ngModel>
    <label for="email">E-mail</label>
    <input type="text" name="email" ngModel>    
    <hr />
    <label for="nationalty">Class</label>
    <select name="nationalty" ngModel>
      <option *ngFor="let class of classes$ | async" [ngValue]="class">{{ class.name }}</option>
    </select>
    <hr />
    <button type="submit">Submit</button>
  </div>
</form>
<h2>Model</h2>
<pre>
{{ f.value | json }}
</pre>