.block-animation {
  animation-name: round;
  animation-duration: 5s;
  animation-fill-mode: forwards;

  @keyframes round {
    from {
      border-radius: 0;
    }
    to {
      border-radius: 50%;
    }
  }
}

.radius {
  border-radius: 50px;
}

.pulse-animation {
  animation-name: color-and-margin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;

  @keyframes color-and-margin {
    from {
      margin-left: 0;
      background-color: midnightblue;
    }
    50% {
      background-color: tomato;
      margin-left: 100px;
      border-radius: 5px;
    }
    to {
      background-color: midnightblue;
      margin-left: 0px;
    }    
  }
}