<app-navigation-bar></app-navigation-bar>
<div class="content-wrapper">
  <div class="content">
    <h2>Lesson 01</h2>
    <h2>Lesson 02</h2>
    <h2>Lesson 03</h2>
    <h2>Lesson 04</h2>
    <h2>Lesson 05</h2>
    <ul>
      <li><a rel="noopener" href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">CSS basics - Learn web development | MDN</a></li>
      <li><a rel="noopener" href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design">Responsive design - Learn web development | MDN </a></li>
      <li><a rel="noopener" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Basic concepts of flexbox - CSS: Cascading Style Sheets | MDN </a></li>
      <li><a rel="noopener" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox">Typical use cases of Flexbox - CSS: Cascading Style Sheets | MDN </a></li>
      <li><a rel="noopener" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout">Basic Concepts of grid layout - CSS: Cascading Style Sheets | MDN </a></li>
      <li><a rel="noopener" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations">Using CSS animations - CSS: Cascading Style Sheets | MDN </a></li>
      <li><a rel="noopener" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions">Using CSS transitions - CSS: Cascading Style Sheets | MDN </a></li>
    </ul>
    <p>This is a story about a lazy dog that were jumped (over) by a quick fox</p>
    <h2>This heading has overridden styles</h2>
    <h3>This heading uses the same font as above, but with different settings</h3>
    <app-header></app-header>  
  </div>
</div>