.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);

  .wrap {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  mat-card {
    flex: 1 0 20%;
  }
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}