<h2>Flex default</h2>
<p><code>flex: 0 1 auto;|flex: initial;</code></p>
<div class="container">
  <div class="child-default">
    <p>Child #1</p>
  </div>
  <div class="child-default">
    <p>Child #2</p>
  </div>
  <div class="child-default">
    <p>Child #3</p>
  </div>
</div>
<h2>Flex grow</h2>
<p><code>flex: 1 1 auto;|flex: auto;</code></p>
<div class="container">
  <div class="child-grow">
    <p>Child #1</p>
  </div>
  <div class="child-grow">
    <p>Child #2</p>
  </div>
  <div class="child-grow">
    <p>Child #3</p>
  </div>
</div>
<h2>Flex basis</h2>
<p><code>flex: 1 0 50%;</code></p>
<div class="container">
  <div class="child-basis">
    <p>Child #1</p>
  </div>
  <div class="child-basis">
    <p>Child #2</p>
  </div>
  <div class="child-basis">
    <p>Child #3</p>
  </div>
</div>
<p><code>child #1: flex: 1 0 50%;</code></p>
<p><code>child #2: flex: 1 2 50%;</code></p> 
<p><code>child #3: flex: 1 1 50%;</code></p>
<div class="container">
  <div class="child-basis-shrink-0">
    <p>Child #1</p>
  </div>
  <div class="child-basis-shrink-2">
    <p>Child #2</p>
  </div>
  <div class="child-basis-shrink-1">
    <p>Child #3</p>
  </div>
</div>