<div class="wrapper">
  <h1>Built-in directives</h1>
  <button type="button" (click)="toggleShowList()">{{ showList ? 'Show list' : 'Hide list'}}</button>
  <div *ngIf="showList">
    <div class="button-container">
      <button type="button" (click)="switchElement()">Switch</button>
      <ng-container [ngSwitch]="showAdd">
        <button type="button" *ngSwitchCase="true" (click)="addElement()">Add element</button>
        <button type="button" *ngSwitchDefault (click)="removeElement()">Remove element</button>
      </ng-container>
    </div>
    <ul>
      <li *ngFor="let element of elements">{{ element }}</li>
    </ul>
  </div>
</div>