.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  flex-direction: column;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
