/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Lobster';
  src: url('./assets/fonts/lobster/Lobster-Regular.ttf');
}; 

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 { 
  font-family: 'Lobster';
}